<div class="container">
  <div class="py-5 text-center">
    <h2>Registration</h2>
    <p class="lead">Fill this form and click "Sign up" to register an account.</p>
  </div>
  <div class="row">
    <form class="px-5">
      <div class="mb-3">
        <label for="validationLogin">Login</label>
          <input [ngClass]="(loginEntered===true)?((loginOk===true && loginTaken===false)?'is-valid':'is-invalid'):''" type="text"
                 class="form-control" name="loginInput" placeholder="Enter login" id="validationLogin"
                 aria-describedby="inputGroupPrepend1"required>
          <div *ngIf="!loginOk" class="invalid-feedback">Invalid email</div>
           <div *ngIf="loginTaken" class="invalid-feedback">Login is already taken!</div>
      </div>
      <div class="mb-3">
        <label for="validationEmail">Email</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupPrepend2">@</span>
          </div>
          <input [ngClass]="(emailEntered===true)?((emailOk===true)?'is-valid':'is-invalid'):''" type="text" class="form-control" name="emailInput" placeholder="Enter email" id="validationEmail"
                 aria-describedby="inputGroupPrepend2" de required>
          <div *ngIf="!emailOk" class="invalid-feedback">Invalid email</div>
        </div>
      </div>
      <div class="mb-3">
      <label for="password1">Password</label>
      <input [ngClass]="(passwordEntered===true)?((passwordOk===true)?'is-valid':'is-invalid'):''"
             [ngModel]="password" (ngModelChange)="this.passwordChanged($event)"
             type="password" class="form-control" name="passwordInput1" placeholder="Enter password" id="password1"
             required>
      <div *ngIf="!passwordOk" class="invalid-feedback">HASLO NIE SPELNIA NORM</div>

    </div>
      <div class="mb-3">
        <input [ngClass]="(passwordRepeatEntered===true)?((passwordRepeatOk===true)?'is-valid':'is-invalid'):''"
               [ngModel]="passwordRepeat" (ngModelChange)="passwordRepeatChanged($event)"
               type="password" class="form-control" name="passwordInput1" placeholder="Repeat password" id="password2"
               required>
        <div *ngIf="!password2Ok" class="invalid-feedback">Passwords are not the same</div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
