<<div class="text-center loginContainer d-flex flex-column">
  <form class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal">Zaloguj się</h1>
    <label for="inputLogin" class="sr-only">Email</label>
    <input [(ngModel)]="this.login" name="login" id="inputLogin" class="form-control" placeholder="Wpisz Email" required="" autofocus="">
    <label for="inputPassword" class="sr-only">Hasło</label>
    <input [(ngModel)]="this.password" name="password" type="password" id="inputPassword" class="form-control" placeholder="Wpisz hasło" required="">
    <button class="btn btn-lg btn-primary btn-block" type="button" (click)="signIn()">Zaloguj</button>
  </form>
</div>
<div *ngIf="this.appService.AreCredientalsWrong()">
  Błędny email/hasło
</div>
